{% extends 'ozodapp/base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>{{post_detail.title}}</h1>
            <p class="card-text p-3 text-secondary">
                <i class="fa-solid fa-eye"></i>
                {{post_detail.popular}}
            </p>
            <img src="{{post_detail.image.url}}" class="img-fluid" alt="">
            <p>{{post_detail.info}}</p>
            <i><b>{{post_detail.date|date:'Y-m-d H:i'}}</b></i>
        </div>
    </div>
</div>

{% endblock %}